<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :exercise_id %>
    <%= form.collection_select :exercise_id, Exercise.order(:type),:id,:type, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :gym_id %>
    <%= form.collection_select :gym_id, Gym.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    Start Time<br>
    <%= form.time_select :starttime %>
  </div>

  <div class="field">
    End Time<br>
    <%= form.time_select :endtime %>
  </div>

  <div class="field">
    Description<br>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
