<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, :method=>'delete'%>
<% else %>
  <%= link_to "login", new_user_session_path %>
<% end %>

<h1>Workouts</h1>

<table>
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Gym</th>
      <th>Datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.exercise.type %></td>
        <td><%= workout.gym.name %></td>
        <td><%= workout.datetime %></td>
        <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to "Join this workout", add_user_to_workout_path(id: workout), :method => :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout', new_workout_path %>
