<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, :method=>'delete', class: "with-border"%>
<% else %>
  <%= link_to "Login", new_user_session_path, class: "with-border" %>
<% end %>

<% if current_user %>
  <div class="header">
    <h1>Your Workouts</h1>
    <div class="link-container">
      <%= link_to '+ New Workout', new_workout_path, class: "with-border"  %>
    </div>
  </div>

  <div class="cards-container">
    <% @workouts.each do |workout| %>
      <% if current_user && workout.users.exists?(current_user.id) %>
        <div class="card">
          <div class="card-content">
            <h2 class="title"><%= workout.exercise.type %></h2>
            <h3><%= workout.gym.name %></h3>
            <h3><%= workout.date %></h3>  
            <h3><%= workout.starttime %></h3>
            <h3><%= workout.endtime %></h3>
            <p><%= workout.description %></p>
          </div>
          <div class="card-credits">
            <p><%= link_to 'Delete workout', workout, method: :delete, data: { confirm: 'Are you sure?' }, class: "with-border danger"  %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="header">
  <h1>Workouts to Join</h1>
</div>

<div class="cards-container">
  <% @workouts.each do |workout| %>
    <% if !current_user || (current_user && !workout.users.exists?(current_user.id)) %>
      <div class="card">
        <div class="card-content">
          <h2 class="title"><%= workout.exercise.type %></h2>
          <h3><%= workout.gym.name %></h3>
          <h3><%= workout.date %></h3>  
          <h3><%= workout.starttime %></h3>
          <h3><%= workout.endtime %></h3>
          <p><%= workout.description %></p>
        </div>
        <% if current_user %>
          <div class="card-credits">
            <p><%= link_to "Join this workout", add_user_to_workout_path(id: workout), :method => :patch, class: "with-border success"  %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>