<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, :method=>'delete'%>
<% else %>
  <%= link_to "login", new_user_session_path %>
<% end %>

<div class="header">
  <h1>Workouts</h1>
  <div class="link-container">
    <%= link_to 'New Workout', new_workout_path %>
  </div>
</div>

<% @workouts.each do |workout| %>
  <div class="card">
    <h2 class="title"><%= workout.exercise.type %></h2>
    <h3><%= workout.gym.name %></h3>
    <h3><%= workout.datetime %></h3>
    <p><%= link_to 'Delete', workout, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>