<h1>New Workout</h1>

<%= simple_form_for @workout do |f| %>
  <%= f.collection_select :gym_id, Gym.order(:name),:id,:name, include_blank: true %>
  <%= f.collection_select :exercise_id, Exercise.order(:type),:id,:type, include_blank: true %>
  <%= f.input :datetime %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', workouts_path %>
