<h1>New Workout</h1>

<%= simple_form_for @workout do |f| %>
  <%= f.label :exercise_id %>
  <%= f.collection_select :exercise_id, Exercise.order(:type),:id,:type, include_blank: true %>
  <%= f.label :gym_id %>
  <%= f.collection_select :gym_id, Gym.order(:name),:id,:name, include_blank: true %>
  <%= f.input :date %>
  <%= f.input :starttime %>
  <%= f.input :endtime %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', workouts_path %>
