<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @workout.exercise.type %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @workout.gym.name %> @<%= @workout.gym.address %>
</p>

<p>
  <strong>Date:</strong>
  <%= @workout.date %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @workout.starttime.strftime("%H:%M:%S") %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @workout.endtime.strftime("%H:%M:%S") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workout.description %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
